In [1]:
import os
from main import FireDetectionModule
import pandas as pd
import numpy as np

In [4]:
mod = FireDetectionModule(data_path="fire_prediction_time_series_24000.csv", out_dir="results", split=None, batch_size=64, epochs=20)

In [5]:
mod.init_logger()

True

In [13]:
mod.loading_datasets()

Error encountered while reading the jsonl.
Error:Expecting value: line 1 column 1 (char 0)
The path: fire_prediction_time_series_24000.csv, is not a jsonl path.
The path corresponds a csv file

True

In [14]:
d = mod.data
d

,sample_id,time_id,temperature,humidity,pressure,tree_type,region,fire_occurred_after
0,0,0,17.3,49.5,1012.4,Pine,West,1
1,0,1,27.1,54.1,1013.2,Pine,West,1
2,0,2,9.8,51.3,1014.6,Pine,West,1
3,0,3,17.3,57.1,1016.4,Pine,West,1
4,0,4,26.8,68.8,1008.7,Pine,West,1
...,...,...,...,...,...,...,...,...
23995,999,19,16.2,34.1,1017.5,Spruce,West,0
23996,999,20,24.6,55.2,1019.0,Spruce,West,0
23997,999,21,17.9,48.7,1019.6,Spruce,West,0
23998,999,22,21.4,52.7,1017.5,Spruce,West,0
23999,999,23,24.9,51.2,1018.5,Spruce,West,0

In [6]:
mod.preprocess_data()

  0%|          | 0/53 [00:00<?, ?it/s]

Inputs and Labels are extracted. X shape: (71378, 12, 17), Y shape: (71378,)
Datasets and Dataloader are created successfully.

True

In [7]:
mod.init_model()

None, was loaded successfully.

True

In [24]:
mod.train_model(epochs=5, lr= 0.0001)

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/893 [00:00<?, ?it/s]

Epoch 1/5

 - Train Loss: 0.6607
 - Train Accuracy: 0.7963

 - Val Loss: 0.7375
 - Val Accuracy: 49.6800

  0%|          | 0/893 [00:00<?, ?it/s]

Epoch 2/5

 - Train Loss: 0.6591
 - Train Accuracy: 0.7984

 - Val Loss: 0.7369
 - Val Accuracy: 49.7966

  0%|          | 0/893 [00:00<?, ?it/s]

Epoch 3/5

 - Train Loss: 0.6582
 - Train Accuracy: 0.7974

 - Val Loss: 0.7378
 - Val Accuracy: 49.8683

  0%|          | 0/893 [00:00<?, ?it/s]

Epoch 4/5

 - Train Loss: 0.6574
 - Train Accuracy: 0.7984

 - Val Loss: 0.7382
 - Val Accuracy: 49.6711

  0%|          | 0/893 [00:00<?, ?it/s]

Epoch 5/5

 - Train Loss: 0.6593
 - Train Accuracy: 0.7980

 - Val Loss: 0.7372
 - Val Accuracy: 49.6800

True

In [25]:
mod.evaluate_model()

  0%|          | 0/112 [00:00<?, ?it/s]

- Test Loss: 0.4299
 - Test Accuracy: 0.8117




Classification Report for Regression
              precision    recall  f1-score   support

           0       0.92      0.82      0.87      5346
           1       0.59      0.80      0.68      1792

    accuracy                           0.81      7138
   macro avg       0.76      0.81      0.77      7138
weighted avg       0.84      0.81      0.82      7138

Plots saved to the path: results\results-2026-01-08 10-59-02. Evaluation is finished successfully.

True

In [26]:
mod.save_model(loss=0.43, acc=8117)

True

### Data Processing

#### ERA5 Processing

In [4]:
d = pd.read_csv("National_Interagency_Fire_Occurrence_Sixth_Edition_1992-2020_(Feature_Layer).csv")

C:\Users\Furkan\AppData\Local\Temp\ipykernel_16904\3552168539.py:1: DtypeWarning: Columns (10,12,13,14,15,16,17,18,19,20,27,28,37,39) have mixed types. Specify dtype option on import or set low_memory=False.
  d = pd.read_csv("National_Interagency_Fire_Occurrence_Sixth_Edition_1992-2020_(Feature_Layer).csv")

In [5]:
len(d)

2303566

In [6]:
d.columns

Index(['X', 'Y', 'OBJECTID', 'FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE',
       'SOURCE_SYSTEM', 'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME',
       'ICS_209_PLUS_INCIDENT_JOIN_ID', 'ICS_209_PLUS_COMPLEX_JOIN_ID',
       'MTBS_ID', 'MTBS_FIRE_NAME', 'COMPLEX_NAME', 'FIRE_YEAR',
       'DISCOVERY_DATE', 'DISCOVERY_DOY', 'DISCOVERY_TIME',
       'NWCG_CAUSE_CLASSIFICATION', 'NWCG_GENERAL_CAUSE',
       'NWCG_CAUSE_AGE_CATEGORY', 'CONT_DATE', 'CONT_DOY', 'CONT_TIME',
       'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE', 'LONGITUDE', 'OWNER_DESCR',
       'STATE', 'COUNTY', 'FIPS_CODE', 'FIPS_NAME'],
      dtype='object')

In [8]:
print(d.iloc[4,:])

X                                             -119.933043
Y                                               38.559161
OBJECTID                                                5
FOD_ID                                                  5
FPA_ID                                         FS-1418847
SOURCE_SYSTEM_TYPE                                    FED
SOURCE_SYSTEM                                 FS-FIRESTAT
NWCG_REPORTING_AGENCY                                  FS
NWCG_REPORTING_UNIT_ID                            USCAENF
NWCG_REPORTING_UNIT_NAME         Eldorado National Forest
SOURCE_REPORTING_UNIT                                 503
SOURCE_REPORTING_UNIT_NAME       Eldorado National Forest
LOCAL_FIRE_REPORT_ID                                   44
LOCAL_INCIDENT_ID                                       7
FIRE_CODE                                             NaN
FIRE_NAME                                        STEVENOT
ICS_209_PLUS_INCIDENT_JOIN_ID                         NaN
ICS_209_PLUS_COMPLEX_JOIN_ID                          NaN
MTBS_ID                                               NaN
MTBS_FIRE_NAME                                        NaN
COMPLEX_NAME                                          NaN
FIRE_YEAR                                            2004
DISCOVERY_DATE                     2004/06/28 00:00:00+00
DISCOVERY_DOY                                         180
DISCOVERY_TIME                                     1600.0
NWCG_CAUSE_CLASSIFICATION                         Natural
NWCG_GENERAL_CAUSE                                Natural
NWCG_CAUSE_AGE_CATEGORY                               NaN
CONT_DATE                          2004/07/03 00:00:00+00
CONT_DOY                                            185.0
CONT_TIME                                          1200.0
FIRE_SIZE                                             0.1
FIRE_SIZE_CLASS                                         A
LATITUDE                                        38.559167
LONGITUDE                                     -119.933056
OWNER_DESCR                                          USFS
STATE                                                  CA
COUNTY                                                3.0
FIPS_CODE                                          6003.0
FIPS_NAME                                   Alpine County
Name: 4, dtype: object

In [5]:
lat_min = d["LATITUDE"].min() - 0.25
lat_max = d["LATITUDE"].max() + 0.25
lon_min = d["LONGITUDE"].min() - 0.25
lon_max = d["LONGITUDE"].max() + 0.25

lat_min,lat_max, lon_min, lon_max

(17.68972222, 70.5806, -179.0526, -65.00694444)

In [22]:
d["COUNTY"].value_counts()

COUNTY
Maricopa                13996
RIVERSIDE               12800
Lincoln                  9201
Washington               8977
Jackson                  8578
                        ...
Wilkes County               1
Gallia County               1
Miami-Dade County           1
Bourbon, KS                 1
District of Columbia        1
Name: count, Length: 4126, dtype: int64

In [11]:
d[["LATITUDE", "LONGITUDE"]].value_counts()

LATITUDE   LONGITUDE
17.970539  -66.246414     571
17.993565  -66.386131     384
41.066500  -123.684500    355
17.976648  -66.114357     352
32.584800  -116.834700    336
                         ...
34.232835  -117.425212      1
34.232800  -89.536400       1
34.232778  -117.789722      1
           -85.310500       1
70.330600  -149.597800      1
Name: count, Length: 1967535, dtype: int64

In [33]:
d[["LATITUDE", "LONGITUDE"]].describe()

           LATITUDE     LONGITUDE
count  2.303566e+06  2.303566e+06
mean   3.696623e+01 -9.635792e+01
std    6.008260e+00  1.664360e+01
min    1.793972e+01 -1.788026e+02
25%    3.301390e+01 -1.110361e+02
50%    3.572250e+01 -9.347009e+01
75%    4.089029e+01 -8.251000e+01
max    7.033060e+01 -6.525694e+01

In [6]:
try1 = d[(d["LATITUDE"] > 24.5) & (d["LATITUDE"] < 49.5) & (d["LONGITUDE"] > -125.0) & (d["LONGITUDE"] < -66.0)]
try1

,X,Y,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,...,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME
0,-121.005820,40.036939,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,...,1730.0,0.10,A,40.036944,-121.005833,USFS,CA,63.0,6063.0,Plumas County
1,-120.404431,38.933050,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,...,1530.0,0.25,A,38.933056,-120.404444,USFS,CA,61.0,6061.0,Placer County
2,-120.735542,38.984161,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,...,2024.0,0.10,A,38.984167,-120.735556,STATE OR PRIVATE,CA,17.0,6017.0,El Dorado County
3,-119.913320,38.559161,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,...,1400.0,0.10,A,38.559167,-119.913333,USFS,CA,3.0,6003.0,Alpine County
4,-119.933043,38.559161,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,...,1200.0,0.10,A,38.559167,-119.933056,USFS,CA,3.0,6003.0,Alpine County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2303561,-108.959489,39.037884,2303562,400732978,ICS209_2020_11710294,INTERAGCY,IA-ICS209,BLM,USCOGRD,Grand Junction Field Office,...,NaN,1.00,B,39.037890,-108.959500,MISSING/NOT SPECIFIED,CO,NaN,NaN,NaN
2303562,-119.503043,37.148606,2303563,400732979,ICS209_2020_11781527,INTERAGCY,IA-ICS209,ST/C&L,USCAMMU,Merced-Mariposa Unit,...,NaN,100.00,D,37.148611,-119.503056,Private,CA,Madera,6039.0,Madera County
2303563,-114.442787,46.151364,2303564,400732980,ICS209_2020_11815219,INTERAGCY,IA-ICS209,FS,USMTBRF,Bitterroot National Forest,...,NaN,50.00,C,46.151370,-114.442800,MISSING/NOT SPECIFIED,MT,NaN,NaN,NaN
2303564,-120.114486,46.670334,2303565,400732982,ICS209_2020_11831809,INTERAGCY,IA-ICS209,FWS,USWAMCR,Mid Columbia National Wildlife Refuge Complex,...,1900.0,24892.00,G,46.670340,-120.114500,UNDEFINED FEDERAL,WA,Yakima,53077.0,Yakima County
2303565,-79.148447,38.578892,2303566,400732984,ICS209_2020_11977822,INTERAGCY,IA-ICS209,FS,USVAVAF,George Washington & Jefferson National Forests,...,1223.0,105.00,D,38.578900,-79.148450,UNDEFINED FEDERAL,VA,Rockingham,51165.0,Rockingham County

In [7]:
try1.COUNTY.value_counts()

COUNTY
Maricopa                13996
RIVERSIDE               12800
Lincoln                  9201
Washington               8977
Jackson                  8578
                        ...
POCAHONTAS                  1
Harmon County               1
Flathead County             1
Yuba County                 1
District of Columbia        1
Name: count, Length: 4066, dtype: int64

In [36]:
try1.DISCOVERY_DATE.value_counts()

DISCOVERY_DATE
2008/02/10 00:00:00+00    1220
2011/02/19 00:00:00+00    1156
2020/07/04 00:00:00+00    1155
2005/03/12 00:00:00+00    1142
2006/03/04 00:00:00+00    1101
                          ...
1997/12/24 00:00:00+00       4
1998/01/15 00:00:00+00       3
1993/01/08 00:00:00+00       2
1993/01/09 00:00:00+00       2
1993/01/11 00:00:00+00       2
Name: count, Length: 10593, dtype: int64

In [49]:
try1.DISCOVERY_DATE.dt.hour.value_counts()

DISCOVERY_DATE
0    2256199
Name: count, dtype: int64

In [8]:
try1[["LATITUDE", "LONGITUDE"]].drop_duplicates().shape

(1944864, 2)

In [9]:
try1[["DISCOVERY_DATE"]].drop_duplicates().shape

(10593, 1)

In [10]:
try1[["LATITUDE", "LONGITUDE", "DISCOVERY_DATE"]].drop_duplicates().shape

(2226915, 3)

In [11]:
ERA5_RES = 0.25

try1["lat_bin"] = (try1["LATITUDE"] / ERA5_RES).round() * ERA5_RES
try1["lon_bin"] = (try1["LONGITUDE"] / ERA5_RES).round() * ERA5_RES

C:\Users\Furkan\AppData\Local\Temp\ipykernel_16904\2160921694.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  try1["lat_bin"] = (try1["LATITUDE"] / ERA5_RES).round() * ERA5_RES
C:\Users\Furkan\AppData\Local\Temp\ipykernel_16904\2160921694.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  try1["lon_bin"] = (try1["LONGITUDE"] / ERA5_RES).round() * ERA5_RES

In [36]:
def snap_to_025(x):
    return (np.round(x / 0.025) * 0.025).round(3)

In [37]:
try1["lat_bin"] = snap_to_025(try1["LATITUDE"])
try1["lon_bin"] = snap_to_025(try1["LONGITUDE"])

C:\Users\Furkan\AppData\Local\Temp\ipykernel_16904\2933225349.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  try1["lat_bin"] = snap_to_025(try1["LATITUDE"])
C:\Users\Furkan\AppData\Local\Temp\ipykernel_16904\2933225349.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  try1["lon_bin"] = snap_to_025(try1["LONGITUDE"])

In [38]:
try1[["lat_bin", "lon_bin"]]

         lat_bin  lon_bin
0         40.025 -121.000
1         38.925 -120.400
2         38.975 -120.725
3         38.550 -119.925
4         38.550 -119.925
...          ...      ...
2303561   39.050 -108.950
2303562   37.150 -119.500
2303563   46.150 -114.450
2303564   46.675 -120.125
2303565   38.575  -79.150

[2256199 rows x 2 columns]

In [39]:
def build_datetime(row):
    if pd.isna(row.DISCOVERY_TIME):
        hour = 12
        minute = 0
    else:
        t = int(row.DISCOVERY_TIME)
        hour = t // 100
        minute = t % 100

    date = pd.to_datetime(row.DISCOVERY_DATE)
    return date.replace(hour=hour, minute=minute)

In [40]:
try1["DISCOVERY_DATE"] = pd.to_datetime(try1["DISCOVERY_DATE"], utc=True)

C:\Users\Furkan\AppData\Local\Temp\ipykernel_16904\1955828078.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  try1["DISCOVERY_DATE"] = pd.to_datetime(try1["DISCOVERY_DATE"], utc=True)

In [41]:
time = try1["DISCOVERY_TIME"].fillna(1200).astype(int)

hours = time // 100
minutes = time % 100

In [42]:
try1["datetime"] = (
    try1["DISCOVERY_DATE"]
    + pd.to_timedelta(hours, unit="h")
    + pd.to_timedelta(minutes, unit="m")
)
try1["datetime"]

C:\Users\Furkan\AppData\Local\Temp\ipykernel_16904\3029782909.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  try1["datetime"] = (

0         2005-02-02 13:00:00+00:00
1         2004-05-12 08:45:00+00:00
2         2004-05-31 19:21:00+00:00
3         2004-06-28 16:00:00+00:00
4         2004-06-28 16:00:00+00:00
                     ...
2303561   2020-06-05 17:41:00+00:00
2303562   2020-07-11 19:58:00+00:00
2303563   2020-08-27 19:11:00+00:00
2303564   2020-08-17 07:55:00+00:00
2303565   2020-11-20 11:10:00+00:00
Name: datetime, Length: 2256199, dtype: datetime64[ns, UTC]

In [43]:
try1["date"] = try1["datetime"].dt.date
try1["hour"] = try1["datetime"].dt.hour
try1[["date", "hour"]]

C:\Users\Furkan\AppData\Local\Temp\ipykernel_16904\127696684.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  try1["date"] = try1["datetime"].dt.date
C:\Users\Furkan\AppData\Local\Temp\ipykernel_16904\127696684.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  try1["hour"] = try1["datetime"].dt.hour

               date  hour
0        2005-02-02    13
1        2004-05-12     8
2        2004-05-31    19
3        2004-06-28    16
4        2004-06-28    16
...             ...   ...
2303561  2020-06-05    17
2303562  2020-07-11    19
2303563  2020-08-27    19
2303564  2020-08-17     7
2303565  2020-11-20    11

[2256199 rows x 2 columns]

In [44]:
try1["fire"] = np.ones(len(try1))
try1["fire"]

C:\Users\Furkan\AppData\Local\Temp\ipykernel_16904\2822830361.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  try1["fire"] = np.ones(len(try1))

0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
          ...
2303561    1.0
2303562    1.0
2303563    1.0
2303564    1.0
2303565    1.0
Name: fire, Length: 2256199, dtype: float64

In [45]:
fire_df = try1[["date", "hour", "lat_bin", "lon_bin", "fire"]]
fire_df

               date  hour  lat_bin  lon_bin  fire
0        2005-02-02    13   40.025 -121.000   1.0
1        2004-05-12     8   38.925 -120.400   1.0
2        2004-05-31    19   38.975 -120.725   1.0
3        2004-06-28    16   38.550 -119.925   1.0
4        2004-06-28    16   38.550 -119.925   1.0
...             ...   ...      ...      ...   ...
2303561  2020-06-05    17   39.050 -108.950   1.0
2303562  2020-07-11    19   37.150 -119.500   1.0
2303563  2020-08-27    19   46.150 -114.450   1.0
2303564  2020-08-17     7   46.675 -120.125   1.0
2303565  2020-11-20    11   38.575  -79.150   1.0

[2256199 rows x 5 columns]

In [22]:

conditions = [
    (fire_df['lat_bin'] > 42) & (fire_df['lon_bin'] < -110),           # Northwest
    (fire_df['lat_bin'] <= 42) & (fire_df['lon_bin'] < -110),          # Southwest
    (fire_df['lon_bin'] >= -110) & (fire_df['lon_bin'] < -102),       # Rocky Mountains
    (fire_df['lat_bin'] > 37) & (fire_df['lon_bin'] >= -102) & (fire_df['lon_bin'] < -85), # Midwest/Northeast
    (fire_df['lat_bin'] <= 37) & (fire_df['lon_bin'] >= -102) & (fire_df['lon_bin'] < -85), # Southeast
    (fire_df['lon_bin'] >= -85)                                         # Atlantic Coast
]

# Define the corresponding Regions
regions = [
    "Northwest", 
    "Southwest", 
    "Rockies", 
    "Northeast_Midwest", 
    "Southeast", 
    "Atlantic"
]

# Define the corresponding Tree Types (Generalizations)
tree_types = [
    "Douglas Fir / Ponderosa Pine", 
    "Chaparral / Oak / Pinyon-Juniper", 
    "Spruce / Fir / Lodgepole Pine", 
    "Maple / Beech / Birch", 
    "Loblolly / Shortleaf Pine", 
    "Oak / Hickory"
]

# Apply vectorization - these will run in milliseconds
fire_df['region'] = np.select(conditions, regions, default="Other")
fire_df['tree_type'] = np.select(conditions, tree_types, default="Mixed/Unknown")

fire_df

C:\Users\Furkan\AppData\Local\Temp\ipykernel_16904\3801230784.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fire_df['region'] = np.select(conditions, regions, default="Other")
C:\Users\Furkan\AppData\Local\Temp\ipykernel_16904\3801230784.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fire_df['tree_type'] = np.select(conditions, tree_types, default="Mixed/Unknown")

,date,hour,lat_bin,lon_bin,fire,region,tree_type
0,2005-02-02,13,40.00,-121.00,1.0,Southwest,Chaparral / Oak / Pinyon-Juniper
1,2004-05-12,8,39.00,-120.50,1.0,Southwest,Chaparral / Oak / Pinyon-Juniper
2,2004-05-31,19,39.00,-120.75,1.0,Southwest,Chaparral / Oak / Pinyon-Juniper
3,2004-06-28,16,38.50,-120.00,1.0,Southwest,Chaparral / Oak / Pinyon-Juniper
4,2004-06-28,16,38.50,-120.00,1.0,Southwest,Chaparral / Oak / Pinyon-Juniper
...,...,...,...,...,...,...,...
2303561,2020-06-05,17,39.00,-109.00,1.0,Rockies,Spruce / Fir / Lodgepole Pine
2303562,2020-07-11,19,37.25,-119.50,1.0,Southwest,Chaparral / Oak / Pinyon-Juniper
2303563,2020-08-27,19,46.25,-114.50,1.0,Northwest,Douglas Fir / Ponderosa Pine
2303564,2020-08-17,7,46.75,-120.00,1.0,Northwest,Douglas Fir / Ponderosa Pine
2303565,2020-11-20,11,38.50,-79.25,1.0,Atlantic,Oak / Hickory

In [28]:
conditions = [
    # 1. Pacific Northwest (Wet, dense conifers)
    (fire_df['lat_bin'] > 42) & (fire_df['lon_bin'] < -120),
    
    # 2. Southwest & California (Chaparral, Oak, Ponderosa)
    (fire_df['lat_bin'] <= 42) & (fire_df['lon_bin'] < -110),
    
    # 3. Rocky Mountains (High elevation, Spruce/Fir)
    (fire_df['lat_bin'] > 35) & (fire_df['lon_bin'].between(-120, -105)),
    
    # 4. Great Plains (Grasslands - lower tree density)
    (fire_df['lon_bin'].between(-105, -95)),
    
    # 5. Southeast (The Pine Belt - high fire frequency)
    (fire_df['lat_bin'] <= 37) & (fire_df['lon_bin'] > -95),
    
    # 6. Northeast & Midwest (Deciduous Hardwoods)
    (fire_df['lat_bin'] > 37) & (fire_df['lon_bin'] > -95)
]

regions = [
    "Pacific Northwest", 
    "Southwest/CA", 
    "Rocky Mountains", 
    "Great Plains", 
    "Southeast", 
    "Northeast/Midwest"
]

tree_types = [
    "Douglas Fir / Western Red Cedar",
    "Chaparral / Ponderosa Pine / Oak",
    "Engelmann Spruce / Subalpine Fir",
    "Grasslands / Eastern Redcedar",
    "Loblolly / Shortleaf Pine",
    "Maple / Beech / Birch / Oak"
]

# Apply vectorization (Extremely fast)
fire_df['region'] = np.select(conditions, regions, default="Other")
fire_df['dominant_tree'] = np.select(conditions, tree_types, default="Mixed")

C:\Users\Furkan\AppData\Local\Temp\ipykernel_16904\2150118314.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fire_df['region'] = np.select(conditions, regions, default="Other")
C:\Users\Furkan\AppData\Local\Temp\ipykernel_16904\2150118314.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fire_df['dominant_tree'] = np.select(conditions, tree_types, default="Mixed")

In [46]:
fire_df = fire_df.rename(columns={
    "lat_bin": "latitude",
    "lon_bin": "longitude"
})
fire_df

               date  hour  latitude  longitude  fire
0        2005-02-02    13    40.025   -121.000   1.0
1        2004-05-12     8    38.925   -120.400   1.0
2        2004-05-31    19    38.975   -120.725   1.0
3        2004-06-28    16    38.550   -119.925   1.0
4        2004-06-28    16    38.550   -119.925   1.0
...             ...   ...       ...        ...   ...
2303561  2020-06-05    17    39.050   -108.950   1.0
2303562  2020-07-11    19    37.150   -119.500   1.0
2303563  2020-08-27    19    46.150   -114.450   1.0
2303564  2020-08-17     7    46.675   -120.125   1.0
2303565  2020-11-20    11    38.575    -79.150   1.0

[2256199 rows x 5 columns]

In [47]:
fire_df = fire_df.drop_duplicates(
    subset=["date", "hour", "latitude", "longitude"]
)
fire_df

               date  hour  latitude  longitude  fire
0        2005-02-02    13    40.025   -121.000   1.0
1        2004-05-12     8    38.925   -120.400   1.0
2        2004-05-31    19    38.975   -120.725   1.0
3        2004-06-28    16    38.550   -119.925   1.0
5        2004-06-30    18    38.625   -120.100   1.0
...             ...   ...       ...        ...   ...
2303560  2020-05-13    13    26.200    -81.525   1.0
2303562  2020-07-11    19    37.150   -119.500   1.0
2303563  2020-08-27    19    46.150   -114.450   1.0
2303564  2020-08-17     7    46.675   -120.125   1.0
2303565  2020-11-20    11    38.575    -79.150   1.0

[2199310 rows x 5 columns]

In [48]:
fire_df.to_csv("clean_fire.csv", index=False)

In [35]:
f = pd.read_csv("clean_fire.csv")
f

               date  hour  latitude  longitude  fire
0        2005-02-02    13     40.00    -121.00   1.0
1        2004-05-12     8     39.00    -120.50   1.0
2        2004-05-31    19     39.00    -120.75   1.0
3        2004-06-28    16     38.50    -120.00   1.0
4        2004-06-30    18     38.75    -120.00   1.0
...             ...   ...       ...        ...   ...
2053334  2020-03-01    13     36.25     -95.00   1.0
2053335  2020-07-11    19     37.25    -119.50   1.0
2053336  2020-08-27    19     46.25    -114.50   1.0
2053337  2020-08-17     7     46.75    -120.00   1.0
2053338  2020-11-20    11     38.50     -79.25   1.0

[2053339 rows x 5 columns]

In [48]:
era5_keys = try1[
    ["lat_bin", "lon_bin", "date", "hour"]
].drop_duplicates()

era5_keys

         lat_bin  lon_bin        date  hour
0          40.00  -121.00  2005-02-02    13
1          39.00  -120.50  2004-05-12     8
2          39.00  -120.75  2004-05-31    19
3          38.50  -120.00  2004-06-28    16
5          38.75  -120.00  2004-06-30    18
...          ...      ...         ...   ...
2303559    36.25   -95.00  2020-03-01    13
2303562    37.25  -119.50  2020-07-11    19
2303563    46.25  -114.50  2020-08-27    19
2303564    46.75  -120.00  2020-08-17     7
2303565    38.50   -79.25  2020-11-20    11

[2053339 rows x 4 columns]

In [50]:
era5_keys["date"].value_counts()

date
2011-02-19    1061
2005-03-12     880
2005-04-16     876
2020-07-04     869
2006-03-04     838
              ...
1998-01-15       3
1993-01-09       2
1993-01-12       2
1993-01-11       2
1993-01-08       2
Name: count, Length: 10593, dtype: int64

In [51]:
daily_boxes = (
    era5_keys
    .groupby("date")
    .agg(
        lat_min=("lat_bin", "min"),
        lat_max=("lat_bin", "max"),
        lon_min=("lon_bin", "min"),
        lon_max=("lon_bin", "max"),
    )
)

daily_boxes

            lat_min  lat_max  lon_min  lon_max
date
1992-01-01    26.00    47.00  -121.00   -74.50
1992-01-02    27.25    45.75  -117.00   -74.25
1992-01-03    26.25    43.25  -122.25   -73.50
1992-01-04    26.75    48.25  -117.50   -80.50
1992-01-05    26.25    43.25  -100.50   -80.25
...             ...      ...      ...      ...
2020-12-27    25.50    45.75  -122.25   -73.00
2020-12-28    27.00    47.00  -123.50   -75.00
2020-12-29    28.75    47.00  -122.00   -74.25
2020-12-30    26.75    46.75  -122.75   -74.25
2020-12-31    25.75    47.00  -122.25   -74.75

[10593 rows x 4 columns]

In [ ]:
daily_boxes.to_csv("daily_boxes.csv", index=True)

In [ ]:
conditions = [
    # 1. Pacific Northwest (Wet, dense conifers)
    (merged['latitude'] > 42) & (merged['longitude'] < -120),
    
    # 2. Southwest & California (Chaparral, Oak, Ponderosa)
    (merged['latitude'] <= 42) & (merged['longitude'] < -110),
    
    # 3. Rocky Mountains (High elevation, Spruce/Fir)
    (merged['latitude'] > 35) & (merged['longitude'].between(-120, -105)),
    
    # 4. Great Plains (Grasslands - lower tree density)
    (merged['longitude'].between(-105, -95)),
    
    # 5. Southeast (The Pine Belt - high fire frequency)
    (merged['latitude'] <= 37) & (merged['longitude'] > -95),
    
    # 6. Northeast & Midwest (Deciduous Hardwoods)
    (merged['latitude'] > 37) & (merged['longitude'] > -95)
]

regions = [
    "Pacific Northwest", 
    "Southwest/CA", 
    "Rocky Mountains", 
    "Great Plains", 
    "Southeast", 
    "Northeast/Midwest"
]

tree_types = [
    "Douglas Fir / Western Red Cedar",
    "Chaparral / Ponderosa Pine / Oak",
    "Engelmann Spruce / Subalpine Fir",
    "Grasslands / Eastern Redcedar",
    "Loblolly / Shortleaf Pine",
    "Maple / Beech / Birch / Oak"
]

# Apply vectorization (Extremely fast)
merged['region'] = np.select(conditions, regions, default="Other")
merged['dominant_tree'] = np.select(conditions, tree_types, default="Mixed")

In [62]:
try2 = pd.read_csv("daily_boxes.csv")
try2

             date  lat_min  lat_max  lon_min  lon_max
0      1992-01-01    26.00    47.00  -121.00   -74.50
1      1992-01-02    27.25    45.75  -117.00   -74.25
2      1992-01-03    26.25    43.25  -122.25   -73.50
3      1992-01-04    26.75    48.25  -117.50   -80.50
4      1992-01-05    26.25    43.25  -100.50   -80.25
...           ...      ...      ...      ...      ...
10588  2020-12-27    25.50    45.75  -122.25   -73.00
10589  2020-12-28    27.00    47.00  -123.50   -75.00
10590  2020-12-29    28.75    47.00  -122.00   -74.25
10591  2020-12-30    26.75    46.75  -122.75   -74.25
10592  2020-12-31    25.75    47.00  -122.25   -74.75

[10593 rows x 5 columns]

In [63]:
try2["date"]

0        1992-01-01
1        1992-01-02
2        1992-01-03
3        1992-01-04
4        1992-01-05
            ...
10588    2020-12-27
10589    2020-12-28
10590    2020-12-29
10591    2020-12-30
10592    2020-12-31
Name: date, Length: 10593, dtype: object

In [68]:
for date, row in try2.iterrows():
    print(date, type(date),"\n\n")
    print(row)
    break

0 <class 'int'>


date       1992-01-01
lat_min          26.0
lat_max          47.0
lon_min        -121.0
lon_max         -74.5
Name: 0, dtype: object

#### Training Processing

In [65]:
df = pd.get_dummies(d, dtype=int, columns=["soil_type", "region"])
num = df[["temp", "hum", "co", "soil_hum"]]
y = df.pop("label").values
df

,sample_id,time_step,temp,hum,co,soil_hum,soil_type_clay,soil_type_loam,soil_type_peat,soil_type_sand,region_akdeniz,region_dogu_anadolu,region_ege,region_guneydogu,region_ic_anadolu,region_karadeniz,region_marmara
0,0,0,32.139521,70.049603,2.702853,46.599697,0,0,1,0,0,0,0,1,0,0,0
1,0,1,31.737415,66.885812,2.531251,46.599697,0,0,1,0,0,0,0,1,0,0,0
2,0,2,30.693725,69.929312,3.401515,46.599697,0,0,1,0,0,0,0,1,0,0,0
3,0,3,31.238062,67.172480,2.622089,46.599697,0,0,1,0,0,0,0,1,0,0,0
4,0,4,31.648328,63.749331,2.678555,46.599697,0,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,99,19,30.533116,51.722013,3.347202,11.682517,0,0,1,0,1,0,0,0,0,0,0
2396,99,20,29.880398,49.450680,3.230641,11.682517,0,0,1,0,1,0,0,0,0,0,0
2397,99,21,29.976292,48.003433,2.962049,11.682517,0,0,1,0,1,0,0,0,0,0,0
2398,99,22,28.944041,50.908187,3.411213,11.682517,0,0,1,0,1,0,0,0,0,0,0
2399,99,23,30.889258,51.503442,3.094142,11.682517,0,0,1,0,1,0,0,0,0,0,0

In [66]:
a = (num - np.mean(num, axis=0))/np.std(num, axis=0)
a

          temp       hum        co  soil_hum
0     1.232725  1.736437 -0.151712  0.777157
1     1.159475  1.478350 -0.166434  0.777157
2     0.969349  1.726624 -0.091775  0.777157
3     1.068509  1.501735 -0.158641  0.777157
4     1.143246  1.222491 -0.153797  0.777157
...        ...       ...       ...       ...
2395  0.940091  0.241359 -0.096435 -1.692096
2396  0.821187  0.056075 -0.106434 -1.692096
2397  0.838656 -0.061985 -0.129476 -1.692096
2398  0.650614  0.174971 -0.090943 -1.692096
2399  1.004969  0.223529 -0.118144 -1.692096

[2400 rows x 4 columns]

In [67]:
y.shape

(2400,)

In [68]:
a.describe()

               temp           hum            co      soil_hum
count  2.400000e+03  2.400000e+03  2.400000e+03  2.400000e+03
mean   1.953993e-16 -3.671137e-16  2.368476e-17 -3.256654e-17
std    1.000208e+00  1.000208e+00  1.000208e+00  1.000208e+00
min   -2.116199e+00 -3.614185e+00 -4.933222e-01 -1.778084e+00
25%   -7.871896e-01 -8.619151e-01 -2.646747e-01 -8.633746e-01
50%    8.388632e-02  8.090381e-02 -1.297437e-01  9.778574e-02
75%    8.310098e-01  7.293258e-01 -3.526012e-02  8.666582e-01
max    2.684292e+00  2.121763e+00  1.509454e+01  1.659194e+00

In [69]:
df[["temp", "hum", "co", "soil_hum"]] = a
df.pop("sample_id")
df.pop("time_step")
df

,temp,hum,co,soil_hum,soil_type_clay,soil_type_loam,soil_type_peat,soil_type_sand,region_akdeniz,region_dogu_anadolu,region_ege,region_guneydogu,region_ic_anadolu,region_karadeniz,region_marmara
0,1.232725,1.736437,-0.151712,0.777157,0,0,1,0,0,0,0,1,0,0,0
1,1.159475,1.478350,-0.166434,0.777157,0,0,1,0,0,0,0,1,0,0,0
2,0.969349,1.726624,-0.091775,0.777157,0,0,1,0,0,0,0,1,0,0,0
3,1.068509,1.501735,-0.158641,0.777157,0,0,1,0,0,0,0,1,0,0,0
4,1.143246,1.222491,-0.153797,0.777157,0,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,0.940091,0.241359,-0.096435,-1.692096,0,0,1,0,1,0,0,0,0,0,0
2396,0.821187,0.056075,-0.106434,-1.692096,0,0,1,0,1,0,0,0,0,0,0
2397,0.838656,-0.061985,-0.129476,-1.692096,0,0,1,0,1,0,0,0,0,0,0
2398,0.650614,0.174971,-0.090943,-1.692096,0,0,1,0,1,0,0,0,0,0,0
2399,1.004969,0.223529,-0.118144,-1.692096,0,0,1,0,1,0,0,0,0,0,0

In [70]:
df.iloc[23,:], y[23]

(temp                   1.302263
 hum                    1.718983
 co                    -0.125981
 soil_hum               0.777157
 soil_type_clay         0.000000
 soil_type_loam         0.000000
 soil_type_peat         1.000000
 soil_type_sand         0.000000
 region_akdeniz         0.000000
 region_dogu_anadolu    0.000000
 region_ege             0.000000
 region_guneydogu       1.000000
 region_ic_anadolu      0.000000
 region_karadeniz       0.000000
 region_marmara         0.000000
 Name: 23, dtype: float64,
 0)

In [71]:
X = df.values

In [78]:
    values = df.values
    labels = y.copy()
    #print(values.shape, labels.shape)

    L = 24

    T = len(df)
    N = T - L
    #print(N)
    if N <= 0:
        raise ValueError("Not enough data for given L and h")

    F = values.shape[1]
    X = np.empty((N, L, F), dtype=float)
    Y = np.empty((N,), dtype=labels.dtype)

    for i in range(N):
        start = i
        end = i + L         # exclusive end for slicing
        # print(start,end)
        # print(values[start:end, :].shape, labels[end-1].shape)
        X[i] = values[start:end, :]
        Y[i] = labels[end-1]

    X,Y

(array([[[ 1.23272541,  1.7364372 , -0.15171232, ...,  0.        ,
           0.        ,  0.        ],
         [ 1.15947499,  1.47835013, -0.16643379, ...,  0.        ,
           0.        ,  0.        ],
         [ 0.96934904,  1.72662442, -0.09177537, ...,  0.        ,
           0.        ,  0.        ],
         ...,
         [ 1.23811209,  2.12176302, -0.16627542, ...,  0.        ,
           0.        ,  0.        ],
         [ 1.17099992,  1.56164109, -0.18765212, ...,  0.        ,
           0.        ,  0.        ],
         [ 1.30226319,  1.71898291, -0.12598106, ...,  0.        ,
           0.        ,  0.        ]],

        [[ 1.15947499,  1.47835013, -0.16643379, ...,  0.        ,
           0.        ,  0.        ],
         [ 0.96934904,  1.72662442, -0.09177537, ...,  0.        ,
           0.        ,  0.        ],
         [ 1.06850927,  1.50173516, -0.15864096, ...,  0.        ,
           0.        ,  0.        ],
         ...,
         [ 1.17099992,  1.56164109, -0.18765212, ...,  0.        ,
           0.        ,  0.        ],
         [ 1.30226319,  1.71898291, -0.12598106, ...,  0.        ,
           0.        ,  0.        ],
         [ 1.13366885, -0.27339783, -0.24617903, ...,  0.        ,
           0.        ,  0.        ]],

        [[ 0.96934904,  1.72662442, -0.09177537, ...,  0.        ,
           0.        ,  0.        ],
         [ 1.06850927,  1.50173516, -0.15864096, ...,  0.        ,
           0.        ,  0.        ],
         [ 1.14324627,  1.22249086, -0.15379684, ...,  0.        ,
           0.        ,  0.        ],
         ...,
         [ 1.30226319,  1.71898291, -0.12598106, ...,  0.        ,
           0.        ,  0.        ],
         [ 1.13366885, -0.27339783, -0.24617903, ...,  0.        ,
           0.        ,  0.        ],
         [ 1.23725316, -0.27796656, -0.26342825, ...,  0.        ,
           0.        ,  0.        ]],

        ...,

        [[ 1.03988421,  1.42918017, -0.33494276, ...,  0.        ,
           0.        ,  0.        ],
         [ 1.11883688,  1.37890193, -0.35199076, ...,  0.        ,
           0.        ,  0.        ],
         [ 1.10877257,  1.77653737, -0.32757653, ...,  0.        ,
           0.        ,  0.        ],
         ...,
         [ 0.71025711, -0.08188585, -0.01852311, ...,  0.        ,
           0.        ,  0.        ],
         [ 0.94009123,  0.24135924, -0.09643476, ...,  0.        ,
           0.        ,  0.        ],
         [ 0.8211875 ,  0.05607467, -0.10643433, ...,  0.        ,
           0.        ,  0.        ]],

        [[ 1.11883688,  1.37890193, -0.35199076, ...,  0.        ,
           0.        ,  0.        ],
         [ 1.10877257,  1.77653737, -0.32757653, ...,  0.        ,
           0.        ,  0.        ],
         [ 0.93847711,  0.13729731, -0.11142721, ...,  0.        ,
           0.        ,  0.        ],
         ...,
         [ 0.94009123,  0.24135924, -0.09643476, ...,  0.        ,
           0.        ,  0.        ],
         [ 0.8211875 ,  0.05607467, -0.10643433, ...,  0.        ,
           0.        ,  0.        ],
         [ 0.83865629, -0.06198494, -0.12947642, ...,  0.        ,
           0.        ,  0.        ]],

        [[ 1.10877257,  1.77653737, -0.32757653, ...,  0.        ,
           0.        ,  0.        ],
         [ 0.93847711,  0.13729731, -0.11142721, ...,  0.        ,
           0.        ,  0.        ],
         [ 0.840075  ,  0.13968009, -0.16064291, ...,  0.        ,
           0.        ,  0.        ],
         ...,
         [ 0.8211875 ,  0.05607467, -0.10643433, ...,  0.        ,
           0.        ,  0.        ],
         [ 0.83865629, -0.06198494, -0.12947642, ...,  0.        ,
           0.        ,  0.        ],
         [ 0.650614  ,  0.17497119, -0.09094336, ...,  0.        ,
           0.        ,  0.        ]]]),
 array([0, 0, 0, ..., 0, 0, 0], dtype=int64))

In [79]:
print(X.shape, Y.shape)

(2376, 24, 15) (2376,)